TAR_ENV=development
TAR_API_HOST=0.0.0.0
TAR_API_PORT=8000
TAR_DATABASE_URL=sqlite:///./tar.db
TAR_VECTOR_BACKEND=memory
TAR_IPFS_API_URL=http://ipfs:5001
TAR_IPFS_GATEWAY=http://localhost:8080/ipfs
TAR_ARTIFACT_DIR=./artifacts

TAR_REQUIRE_API_KEY=false
TAR_ADMIN_KEY=
TAR_POSTGRES_PASSWORD=change-me

TAR_NARA_API_KEY=
TAR_NCBI_EMAIL=
TAR_NCBI_API_KEY=

TAR_LLM_PROVIDER=echo
TAR_LLM_API_KEY=
TAR_LLM_BASE_URL=
TAR_LLM_MODEL=

TAR_IMAGE_API_URL=
TAR_IMAGE_EDIT_API_URL=
TAR_IMAGE_API_KEY=
TAR_IMAGE_MODEL=
TAR_IMAGE_EDIT_MODEL=

TAR_VIDEO_API_URL=
TAR_VIDEO_API_KEY=
TAR_VIDEO_MODEL=

TAR_TRANSCRIBE_API_URL=
TAR_TRANSCRIBE_API_KEY=
TAR_TRANSCRIBE_MODEL=

TAR_ENABLE_CODE_EXECUTION=false
TAR_PYTHON_BIN=python

TAR_CHAIN_RPC_URL=
TAR_GOVERNANCE_ADDRESS=

TAR_ALLOWED_ORIGINS=http://localhost:3000
TAR_REQUEST_TIMEOUT=30
